h5{
    background-color: #3A5E0B;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Oswald;
    padding: 15px;
    margin: 0;
}

.card{
    border-radius: 0;
    border: 1px solid #d6d6d6;
}

.card-body{
    padding-left: 20px;
    padding-right: 20px;
}

.listitem{
    display: block;
    padding: 10px 0;
}

span{
    padding-left: 10px;
    position: relative;
    bottom: 2px;
    text-transform: uppercase;
    font-family: Oswald;
    color: #4f4f4f;
    padding-top: 2px;
}