<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link block-text" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Balasubramanian, Karthik recorded action Complete
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body" style="font-size: 12px; font-family: Roboto;">
          CONTRACT STATE : Completed <br />
          <br/>
          ACTION TAKEN : Complete <br/>
          <br/>
          DATE : Aug 2, 2018 <br/>
          <br/>
          TIME : 6:39 PM <br/>
          <br/>
          BLOCK : 363 <br/>
          <br/>
          FROM ADDRESS : 0xcfe922dace9ea79cfe4f4aabdbefedfd676fc638 <br/>
          <br/>
          TX HASH
          0x7c29e0db0704b48f82d4d838ee8058ed477802bd189da651e8894700867c117a
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed block-text" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Liang, Wen recorded action Transfer Responsibility
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body" style="font-size: 12px; font-family: Roboto;">
          CONTRACT STATE : Completed <br />
          <br/>
          ACTION TAKEN : Complete <br/>
          <br/>
          DATE : Aug 2, 2018 <br/>
          <br/>
          TIME : 6:39 PM <br/>
          <br/>
          BLOCK : 364 <br/>
          <br/>
          FROM ADDRESS : 0xcfe922dace9ea79cfe4f4aabdbefedfd676fc638 <br/>
          <br/>
          TX HASH
          0x7c29e0db0704b48f82d4d838ee8058ed477802bd189da651e8894700867c117a
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed block-text" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Liang, Wen recorded action Transfer Responsibility
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body" style="font-size: 12px; font-family: Roboto;">
          CONTRACT STATE : Completed <br />
          <br/>
          ACTION TAKEN : Complete <br/>
          <br/>
          DATE : Aug 2, 2018 <br/>
          <br/>
          TIME : 6:39 PM <br/>
          <br/>
          BLOCK : 362 <br/>
          <br/>
          FROM ADDRESS : 0xcfe922dace9ea79cfe4f4aabdbefedfd676fc638 <br/>
          <br/>
          TX HASH
          0x7c29e0db0704b48f82d4d838ee8058ed477802bd189da651e8894700867c117a
      </div>
    </div>
  </div>

  <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed block-text" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Liang, Wen recorded action Transfer Responsibility
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body" style="font-size: 12px; font-family: Roboto;">
            CONTRACT STATE : Completed <br />
            <br/>
            ACTION TAKEN : Complete <br/>
            <br/>
            DATE : Aug 2, 2018 <br/>
            <br/>
            TIME : 6:39 PM <br/>
            <br/>
            BLOCK : 362 <br/>
            <br/>
            FROM ADDRESS : 0xcfe922dace9ea79cfe4f4aabdbefedfd676fc638 <br/>
            <br/>
            TX HASH
            0x7c29e0db0704b48f82d4d838ee8058ed477802bd189da651e8894700867c117a
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed block-text" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Balasubramanian, Karthik recorded action Create
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body" style="font-size: 12px; font-family: Roboto;">
              CONTRACT STATE : Completed <br />
              <br/>
              ACTION TAKEN : Complete <br/>
              <br/>
              DATE : Aug 2, 2018 <br/>
              <br/>
              TIME : 6:39 PM <br/>
              <br/>
              BLOCK : 362 <br/>
              <br/>
              FROM ADDRESS : 0xcfe922dace9ea79cfe4f4aabdbefedfd676fc638 <br/>
              <br/>
              TX HASH
              0x7c29e0db0704b48f82d4d838ee8058ed477802bd189da651e8894700867c117a
          </div>
        </div>
      </div>
</div>